@{
    ViewBag.Title = "MethodNotAllowed";
}

<h2>Error 405 - Method Not Allowed</h2>
<p>I can get no... satisfaction! Please go back.<br/>
    A request was made of a resource using a request method not supported by that resourcem, GET, POST, PUT or other not allowed.</p>