@{
    ViewBag.Title = "NotFound";
}

<h2>Error 404 - Not Found</h2>
<p>It must have been swallowed by a black hole! Please go back.<br/>
    The requested resource could not be found but may be available again in the future.</p>