@{
    ViewBag.Title = "ServerError";
}

<h2>Error 500 - Internal Server Error</h2>
<p>The server seams to disagree with you. Please go back.<br />
    This is a generic error message, given when an unexpected condition was encountered and no more specific message is suitable.</p>