@{
    ViewBag.Title = "Account Disabled";
}

<h2>Account Disabled!</h2>
<p>Your account has been rendered disable! It will be removed wihin 5 business days, but you can still go back and recover it.</p>

