@{
    ViewBag.Title = "Esquema";
    Layout = "~/Views/Esquema/_EsquemaLayout.cshtml";
}
<h4>Criar o modelo aqui:<br/>
-> div class="maincontainerclass" id="maincontainerid"</h4>
<div class="maincontainerclass" id="maincontainerid">
    
</div>

