<?xml version="1.0"?>
<configuration>
  <mail
      smtpFromEmail= "webadmpt@gmail.com"
      smtpServer   = "smtp.gmail.com"
      smtpPort     = "587"
      smtpUsername = "webadmpt@gmail.com"
      smtpPassword = ""
    />
  <!--
  http://email.about.com/od/accessinggmail/f/Gmail_SMTP_Settings.htm
  Gmail SMTP server address: smtp.gmail.com
  Gmail SMTP user name: Your full Gmail address (e.g. example@gmail.com)
  Gmail SMTP password: Your Gmail password
  Gmail SMTP port: 465
  Gmail SMTP TLS/SSL required: yes
  -->
</configuration>
